<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/Logo.png" rel="icon">
    <title>Encrypto: {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body style="background-color:black; color: white;">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/static/Logo.png" alt="Logo" width="44" height="34" class="d-inline-block align-text-center">
            Encrypto
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/RSA">RSA Encryption</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/CeasarCipher">Ceasar's Cipher</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/FrequencyAnalysis">Frequency Analysis</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer class="text-center mt-4">
      <p>&copy; 2023 Encrypto</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+6q2Y1pLv0IF5Q4F8hW9ToreG5z6M" crossorigin="anonymous"></script>
  </body>
</html>